apiVersion: 1

contactPoints:
  - orgId: 1
    name: email-default
    receivers:
      - uid: email-default
        type: email
        disableResolveMessage: false
        settings:
          addresses: ${GRAFANA_ALERT_EMAIL_TO}
